:root {
    --primary-color:rgb(56, 94, 94);
    --secondary-color:rgb(180, 180, 180);
    --secondary-hover:rgb(136, 136, 136);
    --warning-color:rgb(255, 118, 118);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul,
menu {
    list-style: none;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 200px 20px;
}

.todo-list {
    border: 8px solid var(--primary-color);
    border-radius: 50px;
    padding: 30px;
    box-shadow: 20px 30px 50px rgba(28, 28, 31, 0.26);

}

.todo-list h1 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.todo-list h3 {
    text-align: center;
}

.todo-list li {
    border: 2px solid var(--secondary-color);
    margin-bottom: 20px;
    padding: 20px 10px 20px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.todo-list li span {
    cursor: pointer;
    color: var(--warning-color)
}

.todo-list li:hover {
    border: 2px solid var(--secondary-hover);
}

.todo-list li span:hover {
    transform: scale(1.1);
}

.task-done {
    text-decoration: line-through;
}

.task-input {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
}

.task-input-form,
.task-input-button {
    padding: 10px 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    transition: 200ms all;
    flex-grow: 1;
    min-width: 0;
}

.invalid-text {
    position: absolute;
    top: 110%;
    left: 18px;
    font-size: 12px;
    color: var(--warning-color);
}

.input-wrapper {
    position: relative;
    flex-grow: 1;
}

.task-input-form {
    outline: 2px solid transparent;
    width: 100%;
    
}

.task-input-form:focus-visible {
    outline: 2px solid var(--primary-color);
}

.task-input-button {
    cursor: pointer;
    background-color: rgb(255, 255, 255);

}

.task-input-button:hover {
    background-color: var(--secondary-color);
    color: white;
    border-color: var(--primary-color)
}

.task-input-form.invalid {
    outline: 2px solid var(--warning-color);
}