<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue ToDo List</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div id="app">

        <div class="container">

            <div class="todo-list">

                <h1>ToDo List</h1>

                <div class="task-input">

                    <div class="input-wrapper">
                        <input class="task-input-form" :class="{'invalid': invalidFormEntry}" type="text"
                            placeholder="New Task" v-model="newTaskName" @keydown.enter="addTask(newTaskName)">
                        <p class="invalid-text" v-show="invalidFormEntry">Task must be at least 5 characters</p>
                    </div>

                    <button class="task-input-button" @click="addTask(newTaskName)">add</button>
                
                </div>


                <ul v-if="tasks.length > 0">

                    <li v-for="(task, index) in tasks" :key="task.taskName" :class="{'task-done': task.taskDone}"
                        @click="toggleTaskStatus(index)">
                        {{task.taskName}}
                        <span @click.stop="removeTask(index)"><i class="fa-regular fa-circle-xmark"></i></span>
                    </li>

                </ul>

                <h3 v-else>All Tasks Complete!</h3>

            </div>

        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>